body {
  background-color: #FF5733;
}

legend {
	font-size: 300%;
	font-family: fantasy;
	color: white;
	border-bottom: 5px solid white;
}

.calcBody {
	width: 60%;
	height: 35%;
	background-color: #DAF7A6;
	padding: 3%;
	margin: auto;
	border-radius: 15px;
}

.display {
	margin: 5%;
	height: 10%;
	width: 90%;
	border-radius: 15px;
	font-size: 300%;
	text-align: right;
	margin-bottom: 15%;
	margin-top: 10%;
	padding-right: 10px;
}

.mybutton {
	margin: 1%;
	height: 30%;
	width: 30%;
}

.mylargebutton {
	margin: 6%;
	height: 20%;
	width: 88%;
}

.result {
	font-size: 400%;
	color: black;
	font-weight: bold;
	font-family: sans-serif;
}

.errorField {
	font-size: 200%;
	text-decoration: underline;
	font-weight: bold;
	font-family: monospace;
}

a {
  color: #00B7FF;
}