.body {
  background-color: #FF5733;
}

.title {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	border-bottom: 5px solid white;
	padding-bottom: 20px;
}

.calcBody {
	width: 70%;
	height: 35%;
	background-color: #DAF7A6;
	padding: 3%;
	margin: auto;
	border-radius: 15px;
}

.controls {
	width: 60%;
	display:block;
	margin: 15% auto;
	padding: 6%;
}

.display {
	margin: 5%;
	height: 10%;
	width: 90%;
	border-radius: 15px;
	font-size: 300%;
	text-align: right;
	margin-bottom: 5%;
	margin-top: 10%;
	padding-right: 10px;
}

.mybutton {
	margin: 1%;
	height: 30%;
	width: 30%;
}

.result {
	border-bottom: 5px solid black;
}

.errorField {
	font-size: 200%;
	text-decoration: underline;
	font-weight: bold;
	font-family: monospace;
}

a {
  color: #00B7FF;
}